body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff0f5; /* pink muda */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background: #ffffff;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 350px;
  text-align: center;
}

.title {
  color: #ff69b4;
  margin-bottom: 10px;
}

.subtitle {
  color: #888;
  margin-bottom: 30px;
}

form input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
}

form button {
  width: 100%;
  background-color: #ff69b4;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

form button:hover {
  background-color: #ff1493;
}

.register-link {
  margin-top: 20px;
  font-size: 14px;
}

.register-link a {
  color: #ff69b4;
  text-decoration: none;
}
